.cart-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty-cart-container {
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.empty-cart-container * {
  margin-bottom: 20px;
}
.empty-cart-heading {
  font-size: 32px;
}
.empty-cart-text {
  font-size: 18px;
}
.empty-cart-button {
  border: transparent;
  color: #fff;
  background-color: #338218;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
}
.empty-cart-image-container {
  background-color: #be6d26;
  border-radius: 20px;
}
.empty-cart-image {
  width: 20vw;
}
.cart-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  margin-bottom: 20px;
}
.cart-item-dish-container {
  min-width: 50%;
  max-width: 50%;
}
.dish-item-list {
  list-style-type: none;
}
.cart-item-image {
  width: 150px !important;
  height: 150px !important;
}
.cart-item-dish-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 10vh;
}
.cart-item-heading {
  margin-bottom: 10px;
}
.cart-item-measure {
  margin-bottom: 15vh;
}
@media (max-width: 768px) {
  .empty-cart-image {
    width: 50vw;
  }
  .cart-item-image {
    width: 30vw;
  }
  .empty-cart-container {
    display: flex;
  }
  .cart-item-image {
    width: 80px !important;
    height: 80px !important;
  }
  .cart-item-dish-container {
    margin-bottom: 0px;
  }
  .cart-item-heading,
  .cart-item-measure {
    font-size: 13px;
    width: 30px;
  }
  .cart-item-dish-container {
    max-width: 40%;
    min-width: 40%;
  }
  .dish-quantity-contianer {
    width: 10px;
  }
}
